
<div class="container">
	<!-- if galleries -->

	{{#if galleries}}
		{{#each galleries}}
		<h2>{{name}}
			<div class="pull-right text-muted small">{{date publishedDate format='MM YYYY'}}</div>
		</h2>
		<div class="row gallery-images">
				{{#if heroImage}}
				<div class="col-sm-4 col-md-4">
					<a class="gallery-image" href="{{cloudinaryUrl heroImage width='900' height='600' crop='fit'}}"><img src="{{cloudinaryUrl heroImage width='400' height='400' crop='fill' gravity='north'}}" class="img-rounded"></a>
				</div>
				{{/if}}
				<div class="col-sm-8 col-md-8">
					<div class="row">
						{{#each images}}
						<div class="col-md-3">
							<a class="gallery-image" href="{{cloudinaryUrl width='900' height='600' crop='fit'}}"><img src="{{cloudinaryUrl width='400' height='400' crop='fill'}}" class="img-rounded"></a>
						</div>
						{{/each}}
					</div>
				</div>
		</div>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no image galleries yet.</h3>
	{{/if}}
</div>


