<div class="container">
	<h2>Selected Publications</h2>

	{{#each pubs}}
	<hr/>
	<div class="row">
		<div class="col-md-8">
			<h4>{{fullTitle}}</h4>
			<h5>{{authors.abbreviatedList}}</h5>
			<h5><i>{{journal}}</i>: <a href="http://dx.doi.org/{{doi}}" target="_blank">{{doi}}</a></h5>
		</div>

		<div class="col-md-4">
			<a class="gallery-image" href="{{cloudinaryUrl featuredFigure width='900' height='600' crop='fit' secure='true'}}">
				<img class="img-rounded center-block" src="{{cloudinaryUrl featuredFigure height="130" secure='true'}}" alt="missing photo!">
			</a>
		</div>
	</div>
	{{/each}}
</div>




