<div class="container">
</div>
<div class="container">

	{{!-- toss in our team photo --}}
	<div class="row">
		<img class="img-rounded img-responsive center-block" width='75%' src="/images/lab-photo.jpg">
	</div>


	{{!-- load up all of our team members --}}
	<div class="row">
		<div class="col-md-8">
			<h4 class="text-weight-normal">Showing {{members.length}} scientists.</h4>
			{{# each members}}
				<tr>
					<td>{{name.first}}</td>
					<td>{{name.last}}</td>
					<td>{{role}}</td>
					<td><img src="{{cloudinaryUrl image }}" width='50' alt="Image"></td>
					<td>{{{bio.brief}}}</p>
			{{/each}}
		</div>
</div>
