<div class="container">
</div>
<div class="container">
	<div class="row">
		

		{{!-- toss in our team photo --}}
		<div class="col-md-9">
			<img align="right" src="/images/lab-photo.jpg" width=100%>
		</div>
	
		{{!-- load up all of our team members --}}
		<div class="col-md-8">
			<h4 class="text-weight-normal">Showing {{members.length}} scientists.</h4>
			{{# each members}}
				<p>{{name.first}} {{name.last}}</p>
				<p>{{role}}</p>
				<img src="{{cloudinaryUrl image }}" width='50' alt="Image">
				<p>{{bio.brief}}</p>
			{{/each}}
		</div>

	</div>
</div>
