<div class="container">
</div>
<div class="container">

	{{!-- toss in our team photo --}}
	<div class="row">
		<img class="img-rounded img-responsive center-block" width='90%' src="/images/lab-photo.jpg">
	</div>

	<hr/>


	{{!-- load up all of our team members --}}
	<div class="row">
		<div class="col-md-12 center-block center-content">
			{{!-- <h4 class="text-weight-normal center-block">Showing {{members.length}} scientists.</h4> --}}
			{{# each members}}
				<div class="col-md-3">
				  <img class="img-circle center-block" src="{{cloudinaryUrl image }}" alt="missing photo!" width="140" height="140">
				  <h4 class="center-block">{{scientist.first}} {{scientist.last}}</h4>
				  <h5 class="center-block">{{role}}</h5>
				  <p class="center-block">{{{bio.brief}}}</p>
				  <p><a class="btn btn-default center-block" href="#" role="button"><i class="fa fa-indent"></i> Read Bio</a></p>
				</div>
			{{/each}}
		</div>
</div>



