{{!-- toss in our team photo --}}
<div class="container">
	<div class="row">
		<figure id="lab-fig">
			<img id="lab-photo" class="img-rounded img-responsive center-block" src="/images/lab-photo.jpg">
			<figcaption class="lab-photo-caption">
				<p style="color: #909090">
					<em class="lab-photo-caption">Front Row: Christy Milliron, Ellen Ellis, Dawna Dylewski, Jenni Schuitema, Kari Emiley, Brittany Holly, Laura Tarnawski, Laura Winkler</em> <br/>
					<em class="lab-photo-caption">Second Row: Matt Weiland, Emily Eugster, Paula Davidson, Andrew Borgman, Edgars Grins, Stefan Jovinge, Eric Kort, Jordan Prahl</em> 
				</p>
			</figcaption>
		</figure>	
	</div>

	<hr/>
</div>


{{!-- load up all of our team members --}}
<div class="container">
	<div class="row">
		<div class="col-md-12 center-block center-content">
			{{!-- <h4 class="text-weight-normal center-block">Showing {{members.length}} scientists.</h4> --}}
			{{#each members}}
				<div class="col-md-3">
				  <img class="img-circle center-block" src="{{cloudinaryUrl image width="140" height="140" crop='fill' gravity='face'}}" alt="missing photo!">
				  <h4 class="center-block">{{scientist.first}} {{scientist.last}}</h4>
				  <h5 class="center-block">{{role}}</h5>
				  <p class="center-block">{{{bio.brief}}}</p>
				  <p><a class="btn btn-default center-block" href="#" role="button"><i class="fa fa-indent"></i> Read Bio</a></p>
				</div>
			{{/each}}
		</div>
</div>



